[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotfiles/tmux/tpm"]
	path = dotfiles/tmux/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dotfiles/zsh/oh-my-zsh"]
	path = dotfiles/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dotfiles/zsh/custom/plugins/zsh-autosuggestions"]
	path = dotfiles/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dotfiles/zsh/custom/themes/powerlevel10k"]
	path = dotfiles/zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dotfiles/nvim/packer.nvim"]
	path = dotfiles/nvim/packer.nvim
	url = git@github.com:wbthomason/packer.nvim.git
