snippet plugin-setup "Add boiler plate for settinup a plugin" b
local utils = require("ik1614.utils")
local plugin_name = "${1:}"

if not utils.plugin_installed(plugin_name) then
  return
end

local plugin = require(plugin_name)
plugin.setup({})
endsnippet
