snippet here "Get the full path to the directory a Python file is contained in" b
HERE = os.path.dirname(os.path.realpath(__file__))
endsnippet

snippet main b
def main():
    pass


if __name__ == '__main__':
    main()
endsnippet
