  \ifstrequal{#1}{A}{Acronyms}{%
  \ifstrequal{#1}{S}{Symbols}{%
  \ifstrequal{#1}{O}{Operators}{}}}%
snippet noma "An acronym nomenclature item" b
\nomenclature[A]{${1:\filme}}{${2:\fillme}}
endsnippet

snippet noms "A symbol nomenclature item" b
\nomenclature[S]{${1:\filme}}{${2:\fillme}}
endsnippet

snippet nomo "An operator nomenclature item" b
\nomenclature[O]{${1:\filme}}{${2:\fillme}}
endsnippet
